/* ########################################################################################################################################################################################### */
/* Nav (header) */
/* ########################################################################################################################################################################################### */


.navHeader{
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;

    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("lien de l'image") center center no-repeat;
}

.ulNavHeader{

    margin:0;
    padding:0;

    font-size: 20px;
    list-style-type: none;

    display: flex;
    align-items: center;

    justify-content: space-between; 
    gap:30px;
}

a{
    text-decoration: none;
    color: rgba(207, 182, 239, 0.882);
}

a:hover{
    text-decoration: none;
    color:rgba(255, 255, 255)
}

.aMolenGeekNavHeader{
    color:rgba(255, 255, 255);
    padding-right: 400px;
    font-size: 30px;
}

.iconeDropDownNavHeader{
    font-size: 15px;
}

// /* --> Media Queries <-- */

/* Laptop L */
@media screen and (min-width:1440px) {
    // Pas besoins de le faire CAR il sagit de ma résolution d'écrans
}


/* Laptop */
@media screen and (min-width:769px) and (max-width:1024px) { // 769 (pour avoir une unité de diff

    .navHeader{
        display: none;
    }
    
}


/* Tablet */
@media screen and (min-width:426px) and (max-width:768px) { // 426 aussi (1 unité de diff)
    
    .navHeader{
        display: none;
    }

}

/* Mobile L */
@media screen and (min-width:320px) and (max-width:425px) {

    .navHeader{
        display: none;
    }
    

}
