/* ########################################################################################################################################################################################### */
/* Nav (header) */
/* ########################################################################################################################################################################################### */


.navHeader{
    // Important !
    // Avant tout enlever margin et padding en 0 dans mon ul (en dessous)
    // Pour modifier parfaitement!
    padding-top: 15px;
    padding-bottom: 15px;



    display: flex;
    align-items: center;
    justify-content: center;

    /* pour fixer en haut et tjr présente */
    position: fixed;
    top: 0;
    width: 100%;
    /* width:100vw; */ /* ! lui ? */

    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("lien de l'image") center center no-repeat;
}

.ulNavHeader{

    // !Important tjr à mettre
    margin:0;
    padding:0;

    font-size: 20px;
    list-style-type: none;

    display: flex;
    align-items: center;

    justify-content: space-between; // ! tjr car c'est bcp + simple a utiliser vus qu'il sont dans les bords ! 
    gap:30px;
}

a{
    text-decoration: none;
    color: rgba(207, 182, 239, 0.882);
}

// ! changer l'animation faire une autre
a:hover{
    text-decoration: none;
    color:rgba(255, 255, 255)
}

.aMolenGeekNavHeader{
    color:rgba(255, 255, 255);
    padding-right: 400px;
    font-size: 30px;
}

.iconeDropDownNavHeader{
    font-size: 15px;
}




// Mon bouton jour & nuit 

.divBtnJourNuitSection7{
    display: flex;
    align-items: center; 
    flex-direction: row;
}

.divCercle2{
    background-color: rgba(86, 58,250, 0.709);
    width: 4.3rem;
    height: 2.3rem;
    border-radius: 40px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle2{
    background-color: white;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 80%;
    position: absolute;
    left: 0rem;
    // left: 2rem; // qui deviendra après
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom:5px;
}

.pJourBtnSection7{
    color:rgba(86, 58,250, 0.709);
    margin-right: 10px;
}

.pNuitBtnSection7{
    color:rgb(142, 144, 150);
    margin-left: 10px;
}

// btnMonthYearSection7 // utiliser dans



