/* ########################################################################################################################################################################################## */
/* Section 7 */
/* ########################################################################################################################################################################################### */

.divSection7 {
    background-color: rgb(249, 248, 255);
}

.divToutLesMontantsSection7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divPartieSoloMontantAllSection7{
    background-color: white;
}

.divPartieGrisAllSection7 {
    background-color: rgb(243, 242, 242);

    text-align: center;
    padding-top: 20px; // (j'ai du enlever au .h3AllSection7 son margin
    padding-bottom: 20px; 

    padding-right: 90px; 
    padding-left:90px;
}

.borderRadiusTopSection7{
    border-radius: 5px 5px 0px 0px;
}

.borderRadiusBottomSection7{
    border-radius: 0px 0px 5px 5px;
}

.h3AllSection7 {
    color: rgb(55, 56, 58);
    margin:0
}


.divMontantAllSection7 { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.suppMontantAllSection7 {
    font-size: 20px;
    color: rgba(86, 58, 250, 0.9);
    font-weight: bold;
}

.pMontantAllSection7 {
    margin: 0;
    color: rgba(86, 58, 250, 0.9);
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.spanMontantAllSection7 {
    color: rgb(178, 178, 178);
    align-items: end;
}

.divTexteSection6{
    padding-bottom: 10px;
}

.pTexteSection6{
    text-align: center;
    padding-bottom: 5px;
    color:rgb(55, 56, 58);
}

.btnBuyNowAllSection7 {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    display: flex;
    font-size: 11px;


    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("lien de l'image") center center no-repeat;
    border: none;
}

.h2BtnBuyNowSection7 {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
}


// Variante
.ptexteBarrerSection6{
    text-decoration: line-through;
    color: rgb(178, 178, 178);
}

.businessBgcMauve{
    background-color:rgba(86, 58, 250, 0.9);
}

.businessColorBlanc{
    color:white
}


// Mon bouton Month -- Year

.divBtnMonthYearSection7{
    display: flex;
    align-items: center; 
    flex-direction: row;
}

.divCercle{
    background-color: rgba(86, 58,250, 0.709);
    width: 4.3rem;
    height: 2.3rem;
    border-radius: 40px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle{
    background-color: white;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 80%;
    position: absolute;
    left: 0rem;
    // left: 2rem; // qui deviendra après
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom:5px;
}

.pMonthBtnSection7{
    color:rgba(86, 58,250, 0.709);
    margin-right: 10px;
}

.pYearBtnSection7{
    color:rgb(142, 144, 150);
    margin-left: 10px;
}


