/* ########################################################################################################################################################################################## */
/* Section 4 */
/* ########################################################################################################################################################################################### */

.div2Section4{
    display: flex;
    padding-right: 20px;
}

.divAllSection4{
    display: flex;
    padding-bottom: 60px;
}

.iconeSection4{
    color:rgba(86, 58, 250, 0.9);
    font-size: 50px;
    margin-right: 20px;
}

.h3AllSection4{
    margin: 0;
    color: rgb(55, 56, 58);
}

.pAllSection4{
    color: rgb(178, 178, 178);
}

.imgSection4{
    width: 600px;
}

.paddingLeftSection4{
    padding-left: 40px;
}


// 
// /* --> Media Queries <-- */

/* Laptop L */
@media screen and (min-width:1440px) {
    // Pas besoins de le faire CAR il sagit de ma résolution d'écrans
}


/* Laptop */
@media screen and (min-width:769px) and (max-width:1024px) {

    .imgSection4{
        width: 400px;
    }
    .div2Section4{
        align-items: center;
    }
    .iconeSection4{
        font-size: 40px;
    }

}


/* Tablet */
@media screen and (min-width:426px) and (max-width:768px) {

    .imgSection4{
        display: none;
    }
    .div2Section4{
        align-items: center;
    }
    .iconeSection4{
        font-size: 50px;
    }
    .h3AllSection4{
        font-size: 20px;
    }
    .pAllSection4{
        font-size: 20px;
    }

}

/* Mobile L */
@media screen and (min-width:320px) and (max-width:425px) {

    .imgSection4{
        display: none;
    }
    .div2Section4{
        align-items: center;
    }
    .iconeSection4{
        font-size: 50px;
    }
    .h3AllSection4{
        font-size: 20px;
    }
    .pAllSection4{
        font-size: 20px;
    }
    
}
// 
