/* ########################################################################################################################################################################################## */
/* Section 2 */
/* ########################################################################################################################################################################################### */

.divGeneraleSection2{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("lien de l'image") center center no-repeat;
}

.divAllSection2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.h1AllSection2{
    margin: 0;
    padding-bottom: 12px;
    color:rgba(255, 255, 255);
    font-size: 70px;
}

.pAllSection2{
    margin: 0;
    color:rgba(255, 255, 255);
    font-size: 24px;
    margin: 0;
}