
/* ########################################################################################################################################################################################## */
/* Section 3 */
/* ########################################################################################################################################################################################### */


.divSection3{
    background-color: rgb(249, 248, 255);
}

.div3CubeAllSection3{
    display: flex;
}

.divCube1AllSection3{
    text-align: center;

    background-color:white;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
    padding-top: 100px;

    width: 100%;
}

// icones 
.iconeGuitar{
    color:rgb(78, 181, 255);
}
.iconeGame{
    color:rgb(253, 166, 109)
}
.iconeClock{
    color:rgb(230, 0, 104)
}

.iconePc{
    color:rgb(254, 186, 42)
}
.iconeBuild{
    color:rgb(253, 87, 40)
}
.iconeCoffee{
    color:rgb(20, 218, 206)
}


.h3AllSection3{
    color: rgb(40, 64, 89);
}

.pAllSection3{
    color: rgb(72, 73, 76);
    margin:0;
    font-size: 17px; 
}

// Variante
.marginRightSection3{
    margin-right: 25px;
}

.marginBottomSection3{
    margin-bottom: 25px;
}




