/* ########################################################################################################################################################################################## */
/* Section 8 */
/* ########################################################################################################################################################################################### */

.divSection8{
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("lien de l'image") center center no-repeat;
}

.divAllAccordion{
    padding-right: 110px;
    padding-left: 110px; 
}

// btn_accordion
.btnAccordionAllSection8{
    font-size: 20px;
    border-radius: 5px;
    border:transparent;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    padding-top: 30px;
    padding-bottom: 30px;

    padding-left: 20px;
    padding-right: 30px;
    background-color: white;
}

.divQuestionSection8{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconeInterrogationAllSection8{
    color:rgba(86, 58, 250, 0.9);
    border:2px solid rgba(86, 58, 250, 0.9);
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-top: 2px;

    border-radius: 50%;
}

.pQuestionAllSection8{
    color:rgb(36, 37, 38);
    font-size: 18px;
    margin:0;

    width: 900px; // pas de padding (dés que j'ai un texte qui va et il peu varier dans sa longeure donc pour qu'il accepte toute longeure width)
    // si rien et que un p il s'adaptera tout seul et prend toute la div (sauf si j'ai mis un padding forcément) mais comme j'ai mis des infos dedans en plus et que je suis dans une div en (between je force à lui prendre une taille)
}

.pReponsesAllSection8{
    color:rgb(96, 97, 99);
    font-size: 18px;
    margin: 0;
    padding-top: 20px;
    display: none;
}


// Variante
.texteBlancSection8{
    color:white;
}

.surlignementBlancSection8{
    border:2px solid white;
}

