/* ########################################################################################################################################################################################## */
/* Section 4 */
/* ########################################################################################################################################################################################### */

.div2Section4{
    display: flex;
    padding-right: 20px;
}

.divAllSection4{
    display: flex;
    padding-bottom: 60px;
}

.iconeSection4{
    color:rgb(110, 98, 242);
    font-size: 50px;
    margin-right: 20px;
}

.h3AllSection4{
    margin: 0;
    color: rgb(55, 56, 58);
}

.pAllSection4{
    color: rgb(113, 115, 121);
}

.imgSection4{
    width: 600px;
}

.paddingLeftSection4{
    padding-left: 40px;
}
