/* ########################################################################################################################################################################################## */
/* Section 1 */
/* ########################################################################################################################################################################################### */


.divSection1{
    display: flex;
}

.div1Section1{
    padding-right: 20px;
}

.h1Section1{
    font-size: 35px;
    color: rgb(40, 64, 89);
    margin:0;
    padding-bottom: 12px;
}

.h3Section1{
    font-size: 19px;
    font-style: italic;
    font-weight: normal;
    color:rgb(60, 60, 60);
    margin:0;
    padding-bottom: 20px;
}

.pAllSection1{
    font-size: 17px;
    color:rgb(60, 60, 60);
    
    margin: 0;
    padding-bottom: 20px;
}

.spanAllSection1{
    // ! A retenir: quand c'est une icone on va pas lui mettre de w ou de h mais plutot jouer avec le font et padding ! 
    // width: 40px;
    // height: 40px;
    font-size: 8px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color:rgba(86, 58, 250, 0.9);

    border:2px solid rgba(86, 58, 250, 0.9);
    border-radius: 50%;
    
    margin-right: 10px;
}


// ! mettre animation
.btnReadMoreSection1{
    display: flex;
    align-items: center;
    padding-left: 25px;

    text-decoration: none;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    display: flex;
    font-size: 11px;
    
    // align-items: center;

    // justify-content: center;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("lien de l'image") center center no-repeat;
    border: none;
}

.h2BtnReadMoreSection1{
    color:rgba(255, 255, 255)
}

.imgSection1{
    width: 610px;
}


// 
// /* --> Media Queries <-- */

/* Laptop L */
@media screen and (min-width:1440px) {
    // Pas besoins de le faire CAR il sagit de ma résolution d'écrans
}


/* Laptop */
@media screen and (min-width:600px) and (max-width:1024px) {

    .imgSection1{
        width: 380px;
    }
    .divSection1{
        align-items: center;
    }

}


/* Tablet */
@media screen and (min-width:600px) and (max-width:768px) {


}

/* Mobile L */
@media screen and (min-width:320px) and (max-width:425px) {

}
// 
