

// !  mettre mes boutons de ma nav et de ma banniere


// Dans mes section 1 3 4 RAJOUTER LES AUTRES !

.divMixin{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 90px;
    padding-left: 90px;
    // display: block;
    // align-items: center;
    // justify-content: center;
}

.divTexteMixin{
    text-align: center;
}

.h1Mixin{
    color: rgb(55, 56, 58);
    font-size: 30px;
    margin: 0;
}

.divSurlignerh1Mixin{
    border:2px solid rgba(86, 58, 250, 0.9);
    width: 5%;
    margin-right: 600px; // Il est pas nécessaire
    margin-left: 600px;
}

.pAllMixin{
    color: rgb(72, 73, 76);
    margin:0;
    font-size: 17px;
}

.marginBottomMixin{
    margin-bottom: 25px;
}

// ! btn et h2 de ma nav et ma banniere 
// ! voir animation pour elle (et pour celle de ma bannière)
.btnGetStartedNavHeaderEtBanniere{    
    text-decoration: none;
    color: rgba(183, 140, 236, 0.882);
    // color:rgba(255, 255, 255);
    background-color:transparent;
    border:solid 2px;
    border-radius: 5px;
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}
.h2BtnGetStartedNavHeaderEtBanniere{
    color:rgba(255, 255, 255);
}


// 
// /* --> Media Queries <-- */

/* Laptop L */
@media screen and (min-width:1440px) {
    // Pas besoins de le faire CAR il sagit de ma résolution d'écrans
}


/* Laptop */
@media screen and (min-width:769px) and (max-width:1024px) {

    .divSurlignerh1Mixin{
        margin-left: 400px;
    }
    
}


/* Tablet */
@media screen and (min-width:426px) and (max-width:768px) {

    .divSurlignerh1Mixin{
        margin-left: 310px;
    }

    .divMixin{
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 60px;
        padding-left: 60px;

    }
    
}

/* Mobile L */
@media screen and (min-width:320px) and (max-width:425px) {

}
// 